<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">
  <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <script type="text/javascript" src="<%= htmlWebpackPlugin.options.externalJS[dep] %>"></script>
  <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.externalCSS[dep] %>">
</head>
<body>
  <div id="app"></div>
  <template>
  <v-ons-page>
    <p class="wel">
      新宿山吹高校へようこそ！!
    </p>
    <div class="con">
        <v-ons-button class="button-margin" style="margin: 25% 7%">
            <a href="https://masatoshi55.github.io/SchoolAR/" class="sc1">ARマーカー１</a>
        </v-ons-button>
        <v-ons-button class="button-margin" style="margin: 25% 7%">
            <a href="https://masatoshi55.github.io/SchoolAR2/" class="sc2">ARマーカー２</a>
        </v-ons-button>
        <v-ons-button class="button-margin" style="margin: 25% 7%">
            <a href="https://masatoshi55.github.io/SchoolAR3/" class="sc3">ARマーカー３</a>
        </v-ons-button>
        <v-ons-button class="button-margin" style="margin: 25% 7%">
            <a href="https://masatoshi55.github.io/SchoolAR4/" class="sc4">ARマーカー４</a>
        </v-ons-button>
        <v-ons-button class="button-margin" style="margin: 25% 7%">
            <a href="https://masatoshi55.github.io/SchoolAR5/" class="sc5">ARマーカー５</a>
        </v-ons-button>
    </div>
  </v-ons-page>
</template>
<style>
.wel {
    text-align: center;
}
a {
    color: white;
}
.con {
    margin: 20% 0% 0%;
}
</style>
</body>
</html>